.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #333;
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: center;
}

.navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navItem {
  margin: 0 15px;
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navLink:hover {
  text-decoration: underline;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
